@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    background-color:darkcyan;
    padding: auto;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.conteiner{
    background-color:aliceblue;
    width: 50%;
    max-height: 640px;
    margin: 50px auto;
    padding: 20px;
}

form input, label{
    display: block;
    width: 96%;
    margin-bottom: 10px;
}

form input{
    height: 40px;
    padding-left:20px ;
    font-size: 14px;
}

form button{
    width: 100%;
    height: 40px;
    background-color: darkcyan;
    color: aliceblue;
    border: none;
    cursor: pointer; 
    font-size: 20px;
}
/* quando passar o mouse em cima */

form button:hover{
    background-color: darkblue;
}

.paragrafo-resultado{
    background-color: rgb(160, 233, 121);
    padding: 10px 20px;
}

.bad{
    background-color: rgb(245, 137, 137);
    padding: 10px 20px;
}